/*
Author: Chhatraman Shrestha
@CopyRights NeedTechnosoft PVT LTD
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("/front/vendor/owl/assets/owl.carousel.min.css");
@import url("/front/vendor/owl/assets/owl.theme.green.min.css");
.header-top {
  background: var(--bg-grey);
  color: var(--color-grey);
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px 70px;
}

.header-top .tagline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-top .links-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.header-top .links-top span {
  display: inline-block;
  padding-left: 15px;
}

.header-top .links-top span a {
  color: inherit;
  text-decoration: none;
}

.header-middle {
  padding: 10px 70px;
}

.header-middle .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-middle .logo img {
  width: 100px;
}

.header-middle .logo h6 {
  color: var(--color-black);
  font-weight: 600;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 15px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 50px;
  padding: 10px 70px;
  background: var(--color-blue);
  z-index: 112;
}

.header-bottom .nav-item {
  display: inline-block;
  padding-right: 20px;
}

.header-bottom .nav-item button, .header-bottom .nav-item a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  border: none;
  background: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header-bottom .nav-item button:hover, .header-bottom .nav-item a:hover {
  color: var(--color-yellow);
}

.header-bottom .nav-item:hover .dropdown-menu {
  display: block;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  -webkit-transform: translate(0px, 26px);
          transform: translate(0px, 26px);
}

.header-bottom .nav-item .dropdown-menu {
  border: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

.header-bottom .nav-item .dropdown-menu .dropdown-item {
  color: var(--color-grey);
}

.header-bottom .nav-item .dropdown-menu .dropdown-item:hover {
  color: var(--color-yellow);
}

.header-mobile {
  z-index: 112;
  display: none;
}

@media (max-width: 426px) {
  .header-top {
    padding: 10px;
    font-size: 0.8rem;
  }
  .header-top .tagline {
    display: none;
  }
  .header-top .links-top {
    padding: 0px;
    margin: 0px;
    display: block;
  }
  .header-top .links-top span {
    padding-bottom: 5px;
    display: block;
    text-align: center;
  }
  .header-top .links-top span a {
    color: inherit;
    text-decoration: none;
  }
  .header-middle {
    display: none;
  }
  .header-bottom {
    display: none;
  }
  .header-mobile {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.973);
    padding: 5px 15px;
    z-index: 1;
  }
  .header-mobile img {
    height: 80px;
  }
  .header-mobile button {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background: none;
    border: 1px solid var(--color-grey);
    color: var(--color-grey);
  }
}

.footer {
  background: var(--color-blue-dark1);
  color: white;
  padding: 100px;
}

.footer hr {
  color: white;
}

.footer .footer-element .title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.footer .footer-element .inner {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 0;
}

.footer .footer-element .inner ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.footer .footer-element .inner ul li a {
  color: inherit;
  text-decoration: none;
}

.footer .footer-element .inner ul li a:hover {
  color: var(--color-yellow);
}

.footer .footer-element .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%;
  background: white;
}

.footer .footer-element .gmap_canvas > iframe {
  height: 300px;
  background: white;
  width: 100%;
}

.footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer .social-links .social-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  margin: 0px 5px;
}

@media (max-width: 426px) {
  .footer {
    background: var(--color-blue-dark1);
    color: white;
    padding: 50px 10px;
  }
  .footer hr {
    color: white;
  }
  .footer .footer-element {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: #fff 1px solid;
  }
  .footer .footer-element.no {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    padding: 0px 10px;
  }
  .footer .footer-element .title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .footer .social-links {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer .social-links .social-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 50%;
    margin: 0px 5px;
  }
}

#home-page .owl-home .owl-nav {
  display: none;
}

#home-page .owl-home .owl-dots {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
}

#home-page .owl-home .item {
  z-index: 1;
  background-position: center center;
  background-size: 100% 100%;
  min-height: 400px;
  background-image: var(--image);
}

#home-page .owl-home .item .inner {
  padding: 50px 525px 200px 125px;
  background: rgba(0, 0, 0, 0.5);
}

#home-page .owl-home .item .inner h5 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 21px;
  text-transform: capitalize;
}

#home-page .owl-home .item .inner h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 35px;
}

#home-page .owl-home .item .inner a {
  background: #ffb606;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 16px 29px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transform: perspective(1px) translateZ(0px);
          transform: perspective(1px) translateZ(0px);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  vertical-align: middle;
}

#home-page .page-inner {
  background: white;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
  margin: 0px 150px;
  z-index: 111;
  position: relative;
  -webkit-box-shadow: 0 9px 38px 0 rgba(188, 184, 184, 0.24);
          box-shadow: 0 9px 38px 0 rgba(188, 184, 184, 0.24);
  padding: 30px;
}

#home-page .page-inner .home-notices {
  background: var(--bg-grey);
  min-height: 500px;
  padding: 30px 20px;
  height: 100%;
}

#home-page .page-inner .home-notices .title {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-yellow-lite);
  position: relative;
  margin-bottom: 10px;
}

#home-page .page-inner .home-notices .title::after {
  background: #c7c7c7;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100px;
}

#home-page .page-inner .home-notices .notice {
  font-size: 0.95rem;
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-black);
  padding: 10px 0px;
  border-bottom: 1px solid var(--color-grey);
}

#home-page .page-inner .home-notices .notice .more {
  color: var(--color-blue);
  display: inline-block;
  font-weight: 700;
  padding-left: 10px;
}

#home-page .page-inner .home-notices .notice:last-child {
  border-bottom: none;
}

#home-page .page-inner .about-tabs {
  padding: 30px 15px;
}

#home-page .page-inner .about-tabs .nav {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

#home-page .page-inner .about-tabs .nav .nav-item .nav-link {
  border: none;
  color: var(--color-grey);
  font-weight: 700;
  font-size: 20px;
  position: relative;
}

#home-page .page-inner .about-tabs .nav .nav-item .nav-link:hover {
  color: var(--color-yellow-lite);
}

#home-page .page-inner .about-tabs .nav .nav-item .nav-link.active {
  color: var(--color-yellow-lite);
}

#home-page .page-inner .about-tabs .nav .nav-item .nav-link.active::after {
  position: absolute;
  height: 1px;
  width: 100%;
  content: "";
  background: var(--color-yellow-lite);
  bottom: 0;
  left: 0;
}

#home-page .page-inner .about-tabs .nav::after {
  position: absolute;
  height: 1px;
  width: 100%;
  content: "";
  background: #eeeeee;
  bottom: 0;
  left: 0;
}

#home-page .page-inner .about-tabs .content {
  text-align: justify;
}

#home-page .page-inner .about-tabs .view-detail {
  text-align: left;
}

#home-page .page-inner .about-tabs .view-detail a {
  background: var(--color-yellow-lite);
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 12px 20px;
  margin-top: 10px;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  vertical-align: middle;
}

#home-page .programs {
  padding: 75px 150px;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
}

#home-page .programs .title {
  color: #434343;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-bottom: 12px;
  position: relative;
  text-transform: uppercase;
}

#home-page .programs .title::after {
  background: #eeeeee;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100px;
}

#home-page .programs .desc {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  width: 665px;
}

#home-page .programs .program {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#home-page .programs .program:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

#home-page .programs .program:hover .image {
  overflow: hidden;
}

#home-page .programs .program:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#home-page .programs .program .image {
  overflow: hidden;
}

#home-page .programs .program .image img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#home-page .programs .program .program-desc h5 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home-page .programs .program .program-desc p {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 26px;
  height: 69px;
  overflow: hidden;
}

#home-page .programs .program .program-desc a {
  text-decoration: none;
  background: #434343;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding: 13px 20px;
  position: relative;
  text-transform: uppercase;
  -webkit-transform: perspective(1px) translateZ(0px);
          transform: perspective(1px) translateZ(0px);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  vertical-align: middle;
  cursor: pointer;
}

#home-page .programs .program .program-desc a:hover {
  background-color: var(--color-yellow-lite);
}

#home-page .why {
  background: var(--color-blue-dark1);
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
}

#home-page .why .facilities {
  padding: 125px 30px 75px 30px;
}

#home-page .why .facilities .title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-bottom: 12px;
  position: relative;
  text-transform: uppercase;
}

#home-page .why .facilities .title::after {
  background: white;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100px;
}

#home-page .why .facilities .desc {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

#home-page .why .facilities .contents {
  color: white;
  padding: 30px 0px;
}

#home-page .why .facilities .contents .facility {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  padding: 30px 10px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

#home-page .why .facilities .contents .facility:hover {
  background: rgba(255, 182, 6, 0.2);
}

#home-page .why .facilities .contents .facility img {
  border-radius: 25px;
  height: 50px;
  background: white;
}

#home-page .why .facilities .contents .facility h5 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 19px;
  text-transform: uppercase;
}

#home-page .why .facilities .contents .facility p {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#home-page .why .facilities-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#home-page .why .facilities-image img {
  width: 100%;
}

#home-page .events {
  padding: 30px 150px;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
}

#home-page .events .title {
  color: #434343;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-bottom: 12px;
  position: relative;
  text-transform: uppercase;
}

#home-page .events .title::after {
  background: #eeeeee;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100px;
}

#home-page .events .desc {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  width: 665px;
  margin-bottom: 30px;
}

#home-page .events .event {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: block;
}

#home-page .events .event:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

#home-page .events .event img {
  width: 100%;
}

#home-page .events .event .event-desc {
  padding: 15px;
}

#home-page .events .event .event-desc small {
  font-size: 12px;
}

#home-page .events .event .event-desc .date {
  margin-bottom: 15px;
}

#home-page .events .event .event-desc .date span {
  font-size: 0.9rem;
  color: #6f6f6f;
}

#home-page .events .event .event-desc h5 {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5rem;
  height: 2.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#home-page .events .event .event-desc p {
  color: #6f6f6f;
  font-size: 0.9rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.1rem;
  height: 2.2rem;
}

#home-page .events .event .event-desc .span {
  cursor: pointer;
  text-decoration: none;
  background: #EFEFEF;
  border-radius: 5px;
  color: var(--color-grey);
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding: 13px 20px;
  position: relative;
  text-transform: uppercase;
  -webkit-transform: perspective(1px) translateZ(0px);
          transform: perspective(1px) translateZ(0px);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  vertical-align: middle;
}

#home-page .events .event .event-desc .span:hover {
  background: var(--color-yellow-lite);
  color: white;
}

@media (max-width: 426px) {
  #home-page .owl-home .owl-nav {
    display: none;
  }
  #home-page .owl-home .owl-dots {
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
  }
  #home-page .owl-home .item {
    background: var(--mobile-image);
  }
  #home-page .owl-home .item .inner {
    padding: 100px 15px;
  }
  #home-page .owl-home .item .inner h5 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  #home-page .owl-home .item .inner h6 {
    font-size: 16px;
  }
  #home-page .owl-home .item .inner a {
    font-size: 14px;
    padding: 16px 23px;
  }
  #home-page .page-inner {
    background: white;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    margin: 0px;
    z-index: 111;
    position: relative;
    -webkit-box-shadow: 0 9px 38px 0 rgba(188, 184, 184, 0.24);
            box-shadow: 0 9px 38px 0 rgba(188, 184, 184, 0.24);
    padding: 15px 10px;
  }
  #home-page .page-inner .home-notices {
    min-height: auto;
    padding: 20px 10px;
  }
  #home-page .page-inner .home-notices .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #home-page .page-inner .home-notices .notice {
    font-size: 0.9rem;
  }
  #home-page .page-inner .about-tabs {
    padding: 15px 10px;
  }
  #home-page .programs {
    padding: 30px 10px 15px 10px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  #home-page .programs .title {
    font-size: 25px;
  }
  #home-page .programs .desc {
    font-size: 13px;
    width: 100%;
  }
  #home-page .why {
    background: var(--color-blue-dark1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  #home-page .why .facilities {
    padding: 75px 30px 45px 30px;
  }
  #home-page .events {
    padding: 75px 10px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  #home-page .events .title {
    font-size: 25px;
  }
  #home-page .events .desc {
    font-size: 13px;
    width: 100%;
  }
}

#single-page .jumbo {
  background: #EBE9E5;
  padding: 70px 110px;
}

#single-page .jumbo a, #single-page .jumbo span {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

#single-page .jumbo a:last-child::after, #single-page .jumbo span:last-child::after {
  content: "";
  padding: 0px;
}

#single-page .jumbo a::after, #single-page .jumbo span::after {
  content: "/";
  padding: 0px 5px;
  color: black !important;
}

#single-page .jumbo a:hover {
  color: var(--color-yellow-lite);
}

#single-page .content {
  padding: 30px 0px;
}

#single-page .content .feature-image {
  background: var(--bg-grey);
  text-align: center;
  min-height: 200px;
}

#single-page .content .feature-image img {
  width: 100%;
}

#single-page .content .title {
  font-size: 25px;
  font-weight: 700;
  padding: 20px 0px;
}

#single-page .content .title.after {
  position: relative;
}

#single-page .content .title.after::after {
  position: absolute;
  bottom: 15px;
  width: 130px;
  content: '';
  left: 0px;
  height: 3px;
  background: var(--color-yellow-lite);
}

#single-page .content .short-desc {
  font-size: 15px;
  padding: 15px 0px;
}

#single-page .content .short-desc {
  font-size: 15px;
  padding: 15px 0px;
}

#single-page .content .short-desc p {
  margin-bottom: 0.5rem;
}

#single-page .tabs {
  padding: 20px 0px;
}

#single-page .tabs .nav-tabs .nav-item .nav-link {
  color: inherit;
}

#single-page .tabs .nav-tabs .nav-item .nav-link.active {
  color: var(--color-yellow-lite);
}

#single-page .tabs .tab-content {
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  min-height: 200px;
}

#single-page .facilities .col-md-6 {
  padding-bottom: 30px;
}

#single-page .facilities .facility {
  border-radius: 5px;
  height: 100%;
  padding: 30px 30px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#single-page .facilities .facility img {
  width: 100px;
  border-radius: 50%;
}

#single-page .facilities .facility h5 {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 30px;
}

#single-page .facilities .facility p {
  color: #898989;
  text-align: justify;
}

#single-page .events .single-event {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}

#single-page .events .single-event:hover::after {
  background-color: var(--color-yellow-lite);
}

#single-page .events .single-event::after {
  content: '';
  height: 1px;
  position: absolute;
  background-color: var(--bg-grey);
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-box-shadow: 0px 0px 10px 0px var(--bg-grey);
          box-shadow: 0px 0px 10px 0px var(--bg-grey);
}

#single-page .events .single-event:last-of-type::after {
  display: none;
}

#single-page .events .single-event .title {
  padding: 5px 0px;
  font-size: 18px;
}

#single-page .events .single-event small {
  color: var(--color-grey);
}

#single-page .events .single-event .fa-holder {
  color: var(--color-yellow-lite);
}

#single-page .events .single-event .desc {
  margin: 10px 0px 10px 0px;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#single-page .events .single-event .view-detail {
  text-decoration: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  background: var(--color-black);
  color: white;
  border-radius: 5px;
}

#single-page .events .single-event .view-detail:hover {
  background-color: var(--color-yellow-lite);
}

#single-page .notices .single-notice {
  position: relative;
}

#single-page .notices .single-notice:last-of-type::after {
  display: none;
}

#single-page .notices .single-notice:hover::after {
  background-color: var(--color-yellow-lite);
}

#single-page .notices .single-notice::after {
  content: '';
  height: 1px;
  position: absolute;
  background-color: var(--bg-grey);
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-box-shadow: 0px 0px 10px 0px var(--bg-grey);
          box-shadow: 0px 0px 10px 0px var(--bg-grey);
}

#single-page .notices .single-notice .title {
  font-weight: 600;
  font-size: 16px;
}

#single-page .notices .single-notice .title a {
  text-decoration: none;
  color: inherit;
}

#single-page .notices .single-notice .notice-download {
  color: var(--color-yellow-lite);
  text-decoration: none;
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 10px;
}

#single-page .gallery .item {
  width: 25%;
  border: 1px solid white;
  overflow: hidden;
  background-color: black;
}

#single-page .gallery .item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#single-page .gallery .item img {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#modal-image-holder {
  position: relative;
}

#modal-image-holder span {
  position: absolute;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

#modal-image-holder span.next {
  right: 5px;
}

#modal-image-holder span.prev {
  left: 5px;
}

@media (max-width: 425px) {
  #single-page .jumbo {
    padding: 20px 10px;
    text-align: center;
  }
  #single-page .jumbo a, #single-page .jumbo span {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
  }
  #single-page .jumbo a::after, #single-page .jumbo span::after {
    content: "";
    padding: 0px 0px;
    color: black !important;
  }
  #single-page .jumbo a:hover {
    color: var(--color-yellow-lite);
  }
  #single-page .content {
    padding: 10px 0px;
  }
  #single-page .content .feature-image {
    min-height: auto;
  }
  #single-page .content .title {
    font-size: 20px;
    padding: 10px 0px;
  }
  #single-page .content .title.after::after {
    bottom: 5px;
  }
  #single-page .content .short-desc {
    font-size: 15px;
    padding: 10px 0px 0px 0px;
  }
  #single-page .content .desc {
    font-size: 15px;
    padding: 10px  0px 0px 0px;
  }
  #single-page .content .desc p {
    margin-bottom: 0.5rem;
  }
  #single-page .facilities {
    padding-top: 15px;
  }
  #single-page .facilities .col-md-6 {
    padding-bottom: 15px;
  }
  #single-page .facilities .facility {
    margin-bottom: 30px;
    padding: 30px 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  #single-page .facilities .facility img {
    width: 100px;
  }
  #single-page .facilities .facility h5 {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 30px;
  }
  #single-page .facilities .facility p {
    color: #898989;
    text-align: justify;
  }
  #single-page .tabs {
    padding: 20px 0px;
  }
  #single-page .tabs .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
  }
  #single-page .tabs .nav-tabs .nav-item .nav-link {
    border: none !important;
    color: inherit;
    padding: 10px 15px;
  }
  #single-page .tabs .nav-tabs .nav-item .nav-link.active {
    color: white;
    background-color: var(--color-yellow-lite);
  }
  #single-page .tabs .tab-content {
    border: 1px solid var(--color-yellow-lite);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    min-height: 200px;
  }
  #single-page .events .single-event {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
  }
  #single-page .events .single-event:hover .title {
    font-size: 18px;
  }
  #single-page .events .single-event:hover::after {
    background-color: var(--color-yellow-lite);
  }
  #single-page .events .single-event::after {
    content: '';
    height: 1px;
    position: absolute;
    background-color: var(--bg-grey);
    bottom: 0px;
    left: 0px;
    right: 0px;
    -webkit-box-shadow: 0px 0px 10px 0px var(--bg-grey);
            box-shadow: 0px 0px 10px 0px var(--bg-grey);
  }
  #single-page .events .single-event:last-of-type::after {
    display: none;
  }
  #single-page .events .single-event .title {
    padding: 5px 0px;
    font-size: 18px;
  }
  #single-page .events .single-event small {
    color: var(--color-grey);
  }
  #single-page .events .single-event .fa-holder {
    color: var(--color-yellow-lite);
  }
  #single-page .events .single-event .desc {
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  #single-page .events .single-event .view-detail {
    text-decoration: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    background: var(--color-black);
    color: white;
    border-radius: 5px;
  }
  #single-page .events .single-event .view-detail:hover {
    background-color: var(--color-yellow-lite);
  }
  #single-page .notices .single-notice .title {
    font-size: 15px;
  }
  #single-page .notices .single-notice .title a {
    text-decoration: none;
    color: inherit;
  }
  #single-page .notices .single-notice .notice-download {
    color: var(--color-yellow-lite);
    text-decoration: none;
    display: inline-block;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
  #single-page .gallery .item {
    width: 50%;
  }
  #modal-image-holder {
    position: relative;
  }
  #modal-image-holder span {
    position: absolute;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
  }
  #modal-image-holder span.next {
    right: 5px;
  }
  #modal-image-holder span.prev {
    left: 5px;
  }
}

* {
  font-family: 'Open Sans', sans-serif;
  --color-red:#bd1c00;
  --color-red-light:#E37F6D;
  --color-blue:#0C314E;
  --color-blue-dark:#415E96;
  --color-blue-dark1:#0C314E;
  --color-blue-alt:#05A4ED;
  --color-red-alt:#FE3F40;
  --bg-grey:#F6F6F6;
  --color-grey:#6f6f6f;
  --color-black:#4b4b4b;
  --color-green:#468847;
  --color-yellow:#EDB63E;
  --color-yellow-lite:#ffb606;
}

.text-yellow-lite {
  color: var(--color-yellow-lite);
}

.text-grey {
  color: var(--color-grey);
}
/*# sourceMappingURL=main.css.map */